/BankingExcercise/BankingExcercise/bin
/BankingExcercise/BankingExcercise/obj
/BankingExcercise/BankingCore/bin
/BankingExcercise/BankingCoreTests/bin
/BankingExcercise/BankingExcerciseTests/bin
/BankingExcercise/BankingCore/obj
/BankingExcercise/BankingCore/bin
/BankingExcercise/BankingCoreTests/bin
/BankingExcercise/BankingCore/bin
/BankingExcercise/BankingCore/obj
/BankingExcercise/BankingCore/bin
/BankingExcercise/BankingExcerciseTests/bin
/BankingExcercise/BankingExcerciseTests/obj
/BankingExcercise/BankingExcerciseTests/bin
/BankingExcercise/BankingExcerciseTests/obj
/BankingExcercise/BankingCore/obj 